<div class="inner">
{{yield}}
  {{#link-to "index" }}
    <h1 class="main-name {{if backVisible "arrow"}}">
      {{#if backVisible}}
      <div class="back" {{action 'back'}}>
        {{fa-icon "angle-left"}}
      </div>
      {{else}}
        Chords.cz
      {{/if}}
    </h1>
  {{/link-to}}
  <div class="right">
    <div class="login">
      {{#if session.isAuthenticated}}
      <div class="active-user">
        {{#link-to "active-user"}}{{fa-icon "user-circle"}}{{session.currentUser.displayName}}{{/link-to}}
      </div>
        <button {{action "signOut"}} class="btn-small logout" >Sign out</button>
      {{else}}
        {{#link-to "signup" class="btn btn-small btn-header"}}Registrace{{/link-to}}
        {{#link-to "login" class="btn btn-small btn-header"}}Přihlášení{{/link-to}}
      {{/if}}
    </div>
    <div class="login-mobile">
      {{#if session.isAuthenticated}}
        {{#link-to "active-user" class="btn btn-small btn-header"}}{{fa-icon "user-circle"}}{{session.currentUser.displayName}}{{/link-to}}
      {{else}}
        {{#link-to "login" class="btn btn-small btn-header"}}{{fa-icon "user-circle"}}{{/link-to}}
      {{/if}}
      <button type="button" name="button" class="btn btn-small btn-header"{{action "open"}}>{{fa-icon "bars"}}Menu</button>
    </div>
    {{burger-menu}}
  </div>
</div>
