{{yield}}
  <h1 class="main-name">Base</h1>
  <div class="right">
    <div class="login">
      {{#if session.isAuthenticated}}
      <div class="active-user">
        {{#link-to "active-user"}}{{fa-icon "user-circle"}}{{session.currentUser.displayName}}{{/link-to}}
      </div>
        <button {{action "signOut"}} class="btn-small logout" >Sign out</button>
      {{else}}
        {{#link-to "signup" class="btn btn-small btn-header"}}Registrace{{/link-to}}
        {{#link-to "login" class="btn btn-small btn-header"}}Přihlášení{{/link-to}}
      {{/if}}
    </div>
    <div class="login-mobile">
      {{#if session.isAuthenticated}}
      <div class="active-user">
        {{#link-to "active-user"}}{{fa-icon "user-circle"}}{{session.currentUser.displayName}}{{/link-to}}
      </div>
      {{else}}
        {{#link-to "login" class="btn btn-small btn-header"}}{{fa-icon "user-circle"}}{{/link-to}}
      {{/if}}
    </div>
    {{burger-menu}}
  </div>
