<div class="inner">
{{yield}}
  {{#link-to "index" }}
    <h1 class="main-name {{if backVisible "arrow"}}">
      {{#if backVisible}}
      <div class="back" {{action 'back'}}>
        {{fa-icon "angle-left"}}
      </div>
      {{else}}
        <img src="/logo/pick_big_guitar_152.png" alt="chords.cz">
      {{/if}}
    </h1>
  {{/link-to}}
  <div class="right">
    <div class="login-mobile">
      {{#link-to "search" class="btn btn-small btn-header"}}{{fa-icon "search"}}{{/link-to}}
      {{#link-to "index" class="btn btn-small btn-header"}}{{fa-icon "home"}}domů{{/link-to}}
    </div>
  </div>
</div>
