{{#if onlyUsersArticles}}
  {{yield}}
{{else}}
  <div class="articles-all">
    {{#each model as |article|}}
      <div class="article">
        {{#link-to "articles.detail" article.id}}
          <h2 class="title">
            {{article.title}}
          </h2>
          <div class="info">
            <div class="author">
              <span>kategorie:</span>
              {{#link-to "articles.category.show" article.cat}}Kategorie{{/link-to}}
            </div>
            <div class="author">
              <span>Autor:</span>
              {{#link-to "profile.show" article.user}}{{article.userName}}{{/link-to}}
            </div>
            <div class="date">{{article.createdAt}}</div>
          </div>
          <div class="body">
            {{truncate article.body 40}}
          </div>
        {{/link-to}}
      </div>
    {{/each}}
  </div>
{{/if}}
