
<h2 class="heading">
  <div class="info">
    <div class="name">
      {{model.title}}
    </div>
    <div class="date like">
      {{model.createdAt}}
    </div>
    <div class="others">
      <div class="author">
        Kategorie
        {{#link-to "articles.category.show" model.cat}}{{model.catName}}{{/link-to}}
      </div>
      <div class="addedBy">
        Přidal
        {{#link-to "profile.show" model.user}}{{model.userName}}{{/link-to}}
      </div>

    </div>
  </div>
</h2>
<div class="content">
  <div class="text">
    {{model.body}}
  </div>
</div>
