{{#if onlyUsersArticles}}
  {{yield}}
{{else}}
{{#unless first}}
    <div class="articles-all article-detail">
      {{#each model as |article|}}
        <div class="article heading">

          

            {{#if onlyTitle}}
              {{#link-to "articles.detail" article.id}}
                <div class="name">
                  {{article.title}}
                </div>
              {{/link-to}}
            {{else}}
              <div class="info">
              {{#link-to "articles.detail" article.id class="article-link"}}
                <div class="name">
                  {{article.title}}
                </div>
              {{/link-to}}
              <div class="date like">{{article.createdAt}}</div>

              <div class="others">
              </div>

              </div>
              <div class="text">
                {{truncate article.body 100}}
              </div>
            {{/if}}

      </div>
      {{/each}}
    </div>
  {{else}}
  {{#each firstArticles as |article|}}
      <div class="list bg">
        {{#link-to "articles.detail" article.id}}
            <div class="info">
              <div class="name">
                {{article.title}}
              </div>
              <div class="count">
              </div>
            </div>
        {{/link-to}}
      </div>
  {{/each}}
{{/unless}}
{{/if}}
