
<div class="heading image-bg">
  <div class="image">
    {{load-image model=author class="image-container"}}
  </div>
  <div class="info">
    <div class="row-flex flex-justify-space-between align-items-center">
      <div class="name">
      <h2>{{author.name}}</h2>
      </div>
    </div>
    <div class="date">
      {{author.info}}
    </div>
    <div class="others row-flex flex-justify-space-between align-items-center">
      <div></div>
      <div class="addedBy">
        písní
        <a >{{author.count}}</a>
      </div>
    </div>
    
    

  </div>
</div>
<div class="content">
  <div class="songs">
    {{song-list model=author.songs}}
  </div>
</div>
