<div class="bottom-bar inner">

  {{#unless session.isAuthenticated}}
  <div class="link mobile-hidden main-name">
  {{#link-to "index" class=""}}
    <img src="/logo/pick_big_guitar_152.png" alt="chords.cz">
  {{/link-to}}
  </div>
  <div class="link chords">
    {{#link-to "song.author.index"}}
      {{fa-icon "music"}}
      Akordy
    {{/link-to}}
  </div>

  <div class="link login mobile-hidden">
    {{#link-to "login"}}
      {{fa-icon "user-o"}}
      <span>Přihlásit</span>
    {{/link-to}}
  </div>

  {{else}}
  <div class="link mobile-hidden main-name">
  {{#link-to "index" class=""}}
  <img src="/logo/pick_big_guitar_152.png" alt="chords.cz">
  {{/link-to}}
  </div>

  <div class="link chords">
    {{#link-to "song.author.index"}}
      {{fa-icon "music"}}
      Akordy
    {{/link-to}}
  </div>

  {{/unless}}

  <div class="link song-books">
    {{#link-to "song-book.index"}}
      {{fa-icon "book"}}
      Zpěvníky
    {{/link-to}}
  </div>

  {{#if session.isAuthenticated}}
    <div class="link add">
      {{#link-to "add-new"}}
        {{fa-icon "plus-square-o"}}
        <span class="mobile-hidden">Vložit</span>
      {{/link-to}}
    </div>
  {{/if}}

  <div class="link news">
    {{#link-to "articles.show"}}
      {{fa-icon "newspaper-o"}}
      Novinky
    {{/link-to}}
  </div>

  {{#if session.isAuthenticated}}
    <div class="link profile">
      {{#link-to "active-user"}}
        {{fa-icon "user-o"}}
        Profil
      {{/link-to}}
    </div>
  {{else}}
    <div class="link desktop-hidden">
      {{#link-to "login"}}
        {{fa-icon "user-o"}}
        Login
      {{/link-to}}
    </div>
  {{/if}}
</div>
