
<div class="heading">
  
  <div class="info">
    <div class="row-flex flex-justify-space-between align-items-center">
      <div class="name">
        <h2>{{song.name}}</h2>
      </div>
      <div class="detail-buttons row-flex">
        {{song-book-list song=song}}
      {{#if uid}}
        {{#unless isLiked}}
          <div class="like plus btn btn-small"{{action "like" song}}>
            {{fa-icon "heart-o"}}
            Přidat do oblíbených ({{song.likes}})
          </div>
        {{else}}
          <div class="like minus btn btn-small"{{action "unlike" song}}>
            {{fa-icon "heart"}}
            Odebrat z oblíbených ({{song.likes}})
          </div>
        {{/unless}}
      {{/if}}
      </div>
    </div>
    <div class="others row-flex flex-justify-space-between align-items-center">
      <div class="author">
        Interpret
        {{#link-to "song.author.show" song.author.id}}{{song.author.name}}{{/link-to}}
      </div>
      
      <div class="addedBy">
        Přidal
        {{#link-to "profile.show" song.addedBy.id}}{{song.addedBy.username}}{{/link-to}}
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="text">
    <div class="song">
      {{nl2br textWithSup}}
    </div>
  </div>

  <div class="video">
    <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/{{videoId}}?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="640" height="360" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
  </div>
</div>
<div class="buttons">
  <div class="text-buttons">
    <div class="btn btn-default btn-small {{if biggerText "active"}}" {{action "bigger"}}>
      <div class="icon">
        a
        <span>a</span>
      </div>
      <p class="lavel">zvětšit písmo</p>
    </div>
    <div class="btn btn-default btn-small {{if smallerText "active"}}" {{action "smaller"}}>
      <div class="icon">
        <span>a</span>
        a
      </div>
      <p class="label">zmenšit písmo</p>
    </div>
  </div>
  <div class="scroll-buttons">
    <div class="btn btn-default btn-small btn-scroll slow {{if (eq animate 1) "active"}}" {{action "scroll" 1}}>
      <div class="icon">
        {{fa-icon "angle-down"}}
      </div>

      <p class="label">Pomalý scroll</p>
    </div>
    <div class="btn btn-default btn-small btn-scroll medium {{if (eq animate 2) "active"}}" {{action "scroll" 2}}>
      <div class="icon">
        {{fa-icon "angle-double-down"}}
      </div>

      <p class="label">Rychlejší scroll</p>
    </div>
    <div class="btn btn-default btn-small btn-scroll speed {{if (eq animate 3) "active"}}" {{action "scroll"  3}}>
      <div class="icon">
        {{fa-icon "angle-down" class="third"}}
        {{fa-icon "angle-double-down"}}
      </div>
      <p class="label">Rychlý scroll</p>
    </div>
    <div class="btn btn-default btn-small btn-scroll stop"  {{action "stopScrolling"}}>
      <div class="icon">
        {{fa-icon "stop"}}
      </div>
      <p class="label">Zastavit scroll</p>
    </div>
    <div class="btn btn-default btn-small btn-scroll stop"  {{action "topScroll"}}>
      <div class="icon">
        {{fa-icon "angle-double-up"}}
      </div>
      <p class="label">Nahoru</p>
    </div>
  </div>

</div>
