
<h2 class="heading">
  {{#link-to "song-book.editor" book.id }}{{fa-icon "image"}}
    Editor zpěvníku a tisk
  {{/link-to}}
  <div class="info">
    <div class="name">
      {{book.name}}
    </div>
    <div class="date like">
      {{book.description}}
    </div>
    <div class="others">
      <div class="author">
        Přidal
        {{#link-to "profile.show" book.createdBy.id}}{{book.createdBy.username}}{{/link-to}}
      </div>
      {{#unless isMarked}}
        <div class="like plus"{{action "addMark" book}}>
          {{fa-icon "bookmark-o"}}
          {{book.markedLength}}
        </div>
      {{else}}
        <div class="like minus"{{action "unMark" book}}>
          {{fa-icon "bookmark"}}
          {{book.markedLength}}
        </div>
      {{/unless}}
      <div class="addedBy">
        Počet písniček
       <a>{{book.songsLength}}</a>
      </div>

    </div>
  </div>
</h2>

<div class="content">
  <div class="text">
    {{#each book.songs as |song|}}
    <div class="list bg">
      <div class="info">
        <div class="name">
          {{#link-to "song.show" song.id}}
            {{song.name}}
          {{/link-to}}
        </div>
        <div class="right">
          {{#if (or isAuthor admin)}}
            <div class="admin-panel">
              <div class="action" {{action "delete" song}}>
                {{fa-icon "times"}}
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>

</div>

<footer>
  <p class="small"><a href="mailto:mmiissaann@seznam.cz" target="_top">{{fa-icon "copyright"}} Chords.cz, Michaela Nová, 2018</a></p>
</footer>
