<div class="list bg">
  <div class="info">

      <div class="name">
        {{#link-to "song-book.show" book.id}}
          {{book.name}}
        {{/link-to}}
        <small>
          {{#link-to "profile.show" book.createdBy.id}}
            {{book.createdBy.username}}
          {{/link-to}}
        </small>
      </div>

    <div class="right">
      <small class="song-count">
        {{book.songsLength}}
        písniček
      </small>
        {{#unless isMarked}}
          <div class="like plus"{{action "addMark" book}}>
            {{fa-icon "bookmark-o"}}
            {{book.markedLength}}
          </div>
        {{else}}
          <div class="like minus"{{action "unMark" book}}>
            {{fa-icon "bookmark"}}
            {{book.markedLength}}
          </div>
        {{/unless}}
        {{#if adminPanel}}
          {{#if (or isAuthor isUserAdmin)}}
            <div class="admin-panel">
              {{#link-to "song-book.edit" book class="action"}}
                {{fa-icon "pencil"}}
              {{/link-to}}
              <div class="action" {{action "delete"}}>
                {{fa-icon "times"}}
              </div>
            </div>
          {{/if}}
        {{/if}}
    </div>
  </div>
</div>
