{{#if print}}
  <div class="editor">
    <p>1. Vyberte styl zpěvníku:</p>
    <div class="flex">
      <button type="button" name="button" class="btn btn-small btn-default {{if (eq style "vinil") "active"}}" {{action "setStyle" "vinil"}}>
        <div class="image">
          <img src="/img/bg-1.png" alt="">
        </div>
        Vinil
      </button>
      <button type="button" name="button" class="btn btn-small btn-default {{if (eq style "black") "active"}}" {{action "setStyle" "black"}}>
        <div class="image">
          <img src="/img/bg-2.jpg" alt="">
        </div>
        Black
      </button>
      <button type="button" name="button" class="btn btn-small btn-default {{if (eq style "retro") "active"}}" {{action "setStyle" "retro"}}>
        <div class="image">
          <img src="/img/bg-3.jpg" alt="">
        </div>
        Retro
      </button>
      <button type="button" name="button" class="btn btn-small btn-default {{if (eq style "hippie") "active"}}" {{action "setStyle" "hippie"}}>
        <div class="image">
          <img src="/img/bg-4.jpg" alt="">
        </div>
        Hippie
      </button>
    </div>

    <p>2. Vyberte formát zpěvníku:</p>
    <div class="flex">
      <button type="button" name="button" class="btn btn-small btn-default {{if (eq format "a4") "active"}}" {{action "setFormat" "a4"}}>A4</button>
      <button type="button" name="button" class="btn btn-small btn-default {{if (eq format "a5") "active"}}" {{action "setFormat" "a5"}}>A5</button>
    </div>

    <p>2. Klikněte na tlačítko "tisk", zvolte "více možností" a nastavte vybraný formát stránky z minulého kroku (A4 a nebo A5), odsazení nastavte na "žádné" a nebo "minimálni".</p>

     {{#link-to "how-it-works" target="_blank"}}Jak to funguje {{fa-icon "question-circle"}}{{/link-to}}
    <div class="flex print-page">
      <button type="button" name="button" class="btn btn-primary btn-print-page" {{action "printPage" "a4"}}>Tisk</button>
    </div>
  </div>
{{/if}}
<h2 class="heading">
  {{#unless print}}
    <button type="button" name="button" class="btn btn-header btn-print btn-default" {{action "print"}}>{{fa-icon "image"}}
      Editor zpěvníku a tisk
    </button>
  {{else}}
    <button type="button" name="button" class="btn btn-header btn-print btn-default" {{action "print"}}>{{fa-icon "globe"}}
      Zobrazení pro web
    </button>
  {{/unless}}

  <div class="info">
    <div class="name">
      {{book.name}}
    </div>
    <div class="date like">
      {{book.description}}
    </div>
    <div class="others">
      <div class="author">
        Přidal
        {{#link-to "profile.show" book.createdBy.id}}{{book.createdBy.username}}{{/link-to}}
      </div>
      {{#unless isMarked}}
        <div class="like plus"{{action "addMark" book}}>
          {{fa-icon "bookmark-o"}}
          {{book.markedLength}}
        </div>
      {{else}}
        <div class="like minus"{{action "unMark" book}}>
          {{fa-icon "bookmark"}}
          {{book.markedLength}}
        </div>
      {{/unless}}
      <div class="addedBy">
        Počet písniček
       <a>{{book.songsLength}}</a>
      </div>

    </div>
  </div>
</h2>

{{#if print}}
  <div class="list-of-songs">
    <div class="heading">
      <div class="info">
        <div class="name">
          Obsah
        </div>
      </div>
    </div>
    <ol>
      {{#each book.songs as |song|}}
        <li class="">{{song.name}} - <small>{{song.author.name}}</small> </li>
      {{/each}}
    </ol>
  </div>
{{/if}}

<div class="content">
  {{#unless print}}
  <div class="text">
    {{#each book.songs as |song|}}
    <div class="list bg">
      <div class="info">
        <div class="name">
          {{#link-to "song.show" song.id}}
            {{song.name}}
          {{/link-to}}
        </div>
        <div class="right">
          {{#if (or isAuthor admin)}}
            <div class="admin-panel">
              <div class="action" {{action "delete" song}}>
                {{fa-icon "times"}}
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}

  <div class="text">
    {{#each book.songs as |song|}}
    {{song-detail song=song}}
    {{/each}}
  </div>

  {{/unless}}
</div>

<footer>
  <p class="small"><a href="mailto:mmiissaann@seznam.cz" target="_top">{{fa-icon "copyright"}} Chords.cz, Michaela Nová, 2018</a></p>
</footer>
