{{#unless first}}
  {{#if firstLikes}}
    {{#each firstSongsLikes as |song|}}
      <div class="list bg">
        {{#if adminPanel}}
          {{song-item adminPanel=true song=song}}
        {{else}}
          {{song-item song=song}}
        {{/if}}
      </div>
    {{/each}}
  {{else}}
    {{#each sortByName as |song|}}
      <div class="list bg">
          {{#if adminPanel}}
            {{song-item adminPanel=true song=song}}
          {{else}}
            {{song-item song=song}}
          {{/if}}
      </div>
    {{/each}}
  {{/if}}

{{else}}
  {{#each firstSongs as |song|}}
    <div class="list bg">
      {{#link-to "song.show" song.id}}
          <div class="info">
            <div class="name">
              {{song.name}}
            </div>

          </div>
      {{/link-to}}
    </div>
  {{/each}}

{{/unless}}
