<div class="info">
  {{#link-to "song.show" song.id}}
    <div class="name">
      {{song.name}}
    </div>
  {{/link-to}}
  <div class="right">
    {{#if uid}}
      {{#unless isLiked}}
        <div class="like plus"{{action "like" song}}>
          {{fa-icon "heart-o"}}
          {{song.likes}}
        </div>
      {{else}}
        <div class="like minus"{{action "unlike" song}}>
          {{fa-icon "heart"}}
          {{song.likes}}
        </div>
      {{/unless}}
    {{/if}}
    {{#if adminPanel}}
      {{!#if admin}}
        <div class="admin-panel">
          {{#link-to "song.edit" song class="action"}}
            {{fa-icon "pencil"}}
          {{/link-to}}
          <div class="action" {{action "delete"}}>
            {{fa-icon "times"}}
          </div>
        </div>
      {{!/if}}
    {{/if}}
  </div>

</div>
