{{#if session.isAuthenticated}}
<div class="profil">
  <div class="heading">
    {{model.user.username}}
  </div>
  <div class="info">
    <p><span>E-mail</span> {{model.user.email}}</p>
  </div>
  <div class="heading sub">
    Přidané články
  </div>
</div>
<div class="scrolling-box">
  {{#article-list model=model.article onlyUsersArticles=true}}
    {{#each model.article as |article|}}
    {{#if (eq article.user model.user.id)}}
      <div class="article">
        {{#link-to "articles.detail" article.id}}
          <h2 class="title">
            {{article.title}}
          </h2>
          <div class="body">
            {{article.body}}
          </div>
        {{/link-to}}
      </div>
    {{/if}}
    {{/each}}
  {{/article-list}}
</div>

{{else}}
<p class="error">Pro přístup k uživatelským profilům se musíte přihlásit!</p>
{{/if}}
