{{model.user.username}}
{{model.user.email}}
{{#each model.article as |article|}}
{{#if (eq article.user model.user.id)}}
  <div class="article">
    <h2 class="title">
      {{article.title}}
    </h2>
    <p class="date">{{article.createdAt}}</p>
    <div class="body">
      {{article.body}}
    </div>
  </div>
{{/if}}
{{/each}}
