{{#if isOpen}}
  <div class="close" {{action "close"}}>
    <div class="circle">
      <i class="challingo-icons ci-close"></i>
    </div>
  </div>

  {{#if media.isPhoto}}
    <img class="photo" src={{media.photo}} alt="photo" {{action "close"}}>
  {{else if media.isVideo}}
    <div class="video-cover">
      <video controls autoplay playsinline>
        <source src={{media.video}} type="video/mp4" />
      </video>
    </div>
  {{/if}}
{{/if}}
