<h1>Nový článek</h1>
{{#if session.isAuthenticated}}

{{#each model as |category|}}
    {{category.title}}
{{/each}}
{{select-field model=model.category selected=category name="name" label="Kategorie" required=true}}
<div id="title" class="input-field">
    {{input type="text" value=title id="titleCategory" name="title" class="form-control" autofocus="autofocus" placeholder=" "}}
    <label class="control-label" for="titleCategory">Titulek článku</label>

</div>

<div id="body" class="input-field">
    {{input type="text" value=body id="body" name="body" class="form-control" autofocus="autofocus" placeholder=" "}}
    <label class="control-label" for="body">Obsah článku</label>
</div>

  <button class="btn btn-primary" disabled={{isDisabled}} {{action 'savePost'}}>Vložit článek</button>

  {{new-category}}
{{else}}
  <p>Pro přidání článku se musíte přihlásit!</p>
{{/if}}
