<div class="heading">
  Nový článek
</div>
{{#if session.isAuthenticated}}
<div class="new-article">
  <div id="title" class="input-field">
    {{select-field model=model.category selected=category name="name" id="category"  required=true}}
    <label class="control-label" for="category">Karegorie</label>
  </div>
  <div class="add-cat">
    <a class="btn btn-default" {{action "showCategory"}}>
      Nová kategorie
    </a>
    {{#if categoryVisible}}
      <div class="opening-box">
        {{new-category}}
      </div>
    {{/if}}
  </div>
  <div id="title" class="input-field" style="margin-top:1em;">
      {{input type="text" value=title id="titleCategory" name="title" class="form-control" autofocus="autofocus" placeholder=" "}}
      <label class="control-label" for="titleCategory">Titulek článku</label>
  </div>

  <div id="body" class="input-field">
      {{input type="text" value=body id="body" name="body" class="form-control" autofocus="autofocus" placeholder=" "}}
      <label class="control-label" for="body">Obsah článku</label>
  </div>

    <button class="btn btn-primary" disabled={{isDisabled}} {{action 'savePost'}}>Vložit článek</button>
</div>
  {{else}}
    <p>Pro přidání článku se musíte přihlásit!</p>
  {{/if}}
