<div class="title">
  {{model.user.username}}
</div>
<div class="profil">
  <div class="actions">
    <button {{action "signOut"}} class="btn-small btn" >Odhlásit se</button>
  </div>
  <div class="info">
    <p><span>E-mail</span> {{model.user.email}}</p>
  </div>
</div>
<div class="scrolling-box">
  <div class="heading sub">
    Přidané písničky
  </div>
  {{song-list model=model.user.songsAdded}}
  <div class="heading sub">
    Přidané články
  </div>
  {{#article-list onlyTitle=true model=model.article onlyUsersArticles=true}}
    {{#each model.article as |article|}}
    {{#if (eq article.user model.user.id)}}
      <div class="list bg">
        {{#link-to "articles.detail" article.id}}
          <div class="info">
            <div class="name">
              {{article.title}}
            </div>
          </div>
        {{/link-to}}
      </div>
    {{/if}}
    {{/each}}
  {{/article-list}}
</div>
