<div class="title">
  {{model.user.username}}
</div>
<div class="profil">
  <div class="actions">
    <button {{action "signOut"}} class="btn-small btn btn-header btn-inverse">{{fa-icon "sign-out"}}Odhlásit se</button>
  </div>
  <div class="info">
    <p><span>E-mail</span> {{model.user.email}}</p>
  </div>
</div>
<div class="scrolling-box">
  <div class="heading sub">
    Přidané písničky
  </div>
  {{song-list model=model.user.songsAdded adminPanel=true}}
  <div class="heading sub">
    Přidané články
  </div>
  {{#article-list onlyTitle=true model=model.article onlyUsersArticles=true}}
    {{#each model.article as |article|}}
    {{#if (eq article.user model.user.id)}}
      <div class="list bg">
        {{#link-to "articles.detail" article.id}}
          <div class="info">
            <div class="name">
              {{article.title}}
            </div>
            <div class="right">
              <div class="admin-panel">
                {{#link-to "articles.edit" article.id class="action"}}
                  {{fa-icon "pencil"}}
                {{/link-to}}
                <div class="action"{{action "delete" article}}>
                  {{fa-icon "times"}}
                </div>
              </div>
            </div>
          </div>
        {{/link-to}}
      </div>
    {{/if}}
    {{/each}}
  {{/article-list}}
</div>
