<div class="title">
  {{model.user.username}}
</div>
<div class="subtitle actions">
  {{#link-to "profile.favourites" model.user.id class="btn-small btn btn-header btn-default"}}
    {{fa-icon "heart-o"}}
    Oblíbené <br> písničky
  {{/link-to}}


  {{#link-to "marks" class="btn-small btn btn-header btn-default"}}
    {{fa-icon "bookmark"}}
    Uložené <br> zpěvníky
  {{/link-to}}
  <a {{action "signOut"}} class="btn-small btn btn-header btn-default">{{fa-icon "sign-out"}}Odhlásit se</a>

</div>
<div class="profil">

  <div class="info">
    <p><span>E-mail</span> {{model.user.email}}</p>
  </div>
</div>
<div class="flex-box-row">
  <div class="column">
    <div class="heading sub">
      Přidané písničky
    </div>
    {{song-list model=model.user.songsAdded adminPanel=true}}
  </div>
  <div class="column">
    <div class="heading sub">
      Přidané články
    </div>
    {{#article-list onlyTitle=true model=model.article onlyUsersArticles=true}}
      {{#each model.article as |article|}}
      {{#if (eq article.user model.user.id)}}
        <div class="list bg">
          {{#link-to "articles.detail" article.id}}
            <div class="info">
              <div class="name">
                {{article.title}}
              </div>
              <div class="right">
                <div class="admin-panel">
                  {{#link-to "articles.edit" article.id class="action"}}
                    {{fa-icon "pencil"}}
                  {{/link-to}}
                  <div class="action"{{action "delete" article}}>
                    {{fa-icon "times"}}
                  </div>
                </div>
              </div>
            </div>
          {{/link-to}}
        </div>
      {{/if}}
      {{/each}}
    {{/article-list}}
  </div>
  <div class="column">
    <div class="heading sub">
      Přidané zpěvíky
    </div>
    {{song-books-list adminPanel=true books=model.user.songBooksAdded}}
  </div>


</div>
