<div class="page-content">
	<h2>Hosté</h2>
		

	<table class="list guests">
		<thead>
			<tr>
				<th>Host</th>
				<th>Hostitel</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each model.guests as |guest|}}
				<tr class="">
					<td>{{guest.name}}</td>
					<td>{{guest.host.username}}</td>
					<td class="delete" {{action "deleteGuest" guest}}>{{fa-icon "trash"}}</td>
				</tr>
			{{/each}}
		</tbody>
		
	</table>
	<br>
	<div class="list tasks">
			{{#each model.tasks as |task|}}
				<div class="task">
					<div class="task-name">
						{{task.name}}
					</div>
					<div class="task-resolution">
						{{task.resolution}}
					</div>
				</div>
			{{/each}}	
	</div>

	{{#link-to "admin.new-guest"}}Přidat hosta{{/link-to}}
	{{#link-to "admin.new-task"}}Přidat úkol{{/link-to}}
</div>
{{outlet}}

