<div class="head">
  <h1 class="main-name">Základní aplikace</h1>
  <div class="login">
    {{#if session.isAuthenticated}}
    <div class="active-user">
      {{#link-to "active-user"}}Logged in as {{session.currentUser.displayName}}{{/link-to}}
    </div>

      <button {{action "signOut"}} class="btn-small logout" >Sign out</button>
    {{else}}
      {{#link-to "signup" class="btn btn-small btn-header"}}Registrace{{/link-to}}
      {{#link-to "login" class="btn btn-small btn-header"}}Přihlášení{{/link-to}}
    {{/if}}
  </div>
</div>
{{#if signInvisible}}
  <div class="modal">
    <div class="modal-overflow sign-in hidden" >
      <div class="close" {{action "modalClose"}}>
        x
      </div>
      <div class="modal-iner">
        <div class="input-field full-width">
          {{input name=identification value=identification }}
          <label for="identification">E-mail</label>
        </div>

        <div class="input-field full-width">
          {{input name=password1 value=password }}
          <label for="password1">Heslo</label>
        </div>
        <button {{action "signIn"}}>Sign in</button>
      </div>
    </div>
  </div>
{{/if}}
{{#if signUpvisible}}
  <div class="modal">
    <div class="modal-overflow sign-up hidden" >
      <div class="close" {{action "modalClose"}}>
        x
      </div>
      <div class="modal-inner">
        <div class="input-field full-width">
          {{input name=email value=email }}
          <label for="password1">E-mail</label>
        </div>
        <div class="input-field full-width">
          {{input name=username value=username }}
          <label for="password1">Uživatelské jméno</label>
        </div>
        <div class="input-field full-width">
          {{input name=password2 value=password }}
          <label for="password2">Heslo</label>
        </div>
        <button {{action "signUp"}}>Sign up</button>
      </div>
    </div>
  </div>
{{/if}}
{{main-menu action="signIn"}}
<div class="main">
{{outlet}}
</div>
