<div class="head">
  <h1 class="main-name">*</h1>
  <div class="login">
    {{#if session.isAuthenticated}}
      Logged in as {{session.currentUser.email}}
      <button {{action "signOut"}}>Sign out</button>
    {{else}}
      <button {{action "signIn" "facebook"}}>Sign in</button>
    {{/if}}
  </div>
</div>

{{main-menu action="signIn"}}
<div class="main">
{{outlet}}
</div>
